---
title: Release Notes for CyberArk Conjur Service Broker for PCF (Beta)
owner: Partners
---

These are release notes for CyberArk Conjur Service Broker for PCF (Beta).

##<a id="ver"></a> v0.1.0  

**Release Date:** January 31, 2018  

Features included in this release:

* Service Broker provides an interface between PCF applications and an existing Conjur appliance.
* Buildpack installs Summon tool.
* Secrets defined to Summon in a secrets.yml file are obtained from Conjur and injected into the PCF environment.

 


Known issues in this release: No known issues.

 




