---
title: Release Notes for CyberArk Conjur Service Broker for PCF (Beta)
owner: Partners
---

These are release notes for CyberArk Conjur Service Broker for PCF (Beta).

##<a id="ver"></a> v0.3.1

**Release Date:** May 1, 2018

Features included in this release:

* Fixed issue with applying buildpack



Known issues in this release: No known issues.

##<a id="ver"></a> v0.3.0

**Release Date:** April 27, 2018

Features included in this release:

* Added support for host annotations in Conjur Service Broker
* Improved performance of Conjur Buildpack



Known issues in this release:
Buildpack installation does not function as inspected. If you have installed this release, please re-upload the CyberArk Conjur Buildpack manually by following the instructions in the [buildpack documentation](https://github.com/cyberark/cloudfoundry-conjur-buildpack/blob/master/README.md), or upgrade to v0.3.1.

##<a id="ver"></a> v0.2.1

**Release Date:** February 14, 2018

Features included in this release:

* Added support for Conjur Enterprise (v4).
* Added support for a PCF-specific namespace.




Known issues in this release: No known issues.

##<a id="ver"></a> v0.1.0

**Release Date:** January 31, 2018

Features included in this release:

* Service Broker provides an interface between PCF applications and an existing Conjur appliance.
* Buildpack installs Summon tool.
* Secrets defined to Summon in a secrets.yml file are obtained from Conjur and injected into the PCF environment.
* Initial Private Beta Release.



Known issues in this release: No known issues.



