---
title: Using CyberArk Conjur Service Broker for VMware Tanzu
owner: Partners
---

This topic describes how to use CyberArk Conjur Service Broker for VMware Tanzu.

## <a id='using'></a> Using CyberArk Conjur Service Broker for VMware Tanzu

The CyberArk Conjur Service Broker for VMware Tanzu provides the interface between VMware Tanzu applications and a Conjur appliance.

 - [Deploy a VMware Tanzu Application that Accesses Secrets from Conjur](#deploy-application)
 - [Entitling Individual Applications to Access Secrets](#entitle-application)

### <a id='deploy-application'></a>Deploy a VMware Tanzu Application with Secrets from Conjur
<%= partial './using/deploy-app.html.md.erb' %>

### <a id="entitle-application"></a> Entitle Individual Applications to Access Secrets
<%= partial './using/entitle-app.html.md.erb' %>

### <a id="rotate-credentials"></a> Rotate Host Identity Credentials
<%= partial './using/rotate-credentials.html.md.erb' %>
