---
title: Using CyberArk Conjur Service Broker for Pivotal Platform
owner: Partners
---

This topic describes how to use CyberArk Conjur Service Broker for Pivotal Platform.

## <a id='using'></a> Using CyberArk Conjur Service Broker for Pivotal Platform

The CyberArk Conjur Service Broker for Pivotal Platform provides the interface between Pivotal Platform applications and a Conjur appliance.

 - [Deploy a Pivotal Platform Application that Accesses Secrets from Conjur](#deploy-application)
 - [Entitling Individual Applications to Access Secrets](#entitle-application)

### <a id='deploy-application'></a>Deploy a Pivotal Platform Application with Secrets from Conjur
<%= partial 'using/deploy-app.html.md.erb' %>

### <a id="entitle-application"></a> Entitle Individual Applications to Access Secrets
<%= partial 'using/entitle-app.html.md.erb' %>

### <a id="rotate-credentials"></a> Rotate Host Identity Credentials
<%= partial 'using/rotate-credentials.html.md.erb' %>

